body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #2196F3;
  font-size: 1rem;
  font-weight: 500;
}


/* Quick styling to hide sidebar, select boxes, and add padding to main table */

span[class*="MuiCheckbox-root-"] {
  display: none;
}

div[class*="WithTheme-WithWidth-Sidebar"] {
  display: none;
}

div[class*="Layout-content"] {
  padding-left: 24px;
}